.Twott {
  background-color: #ddeaf6;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  text-align: left;
  height: 5em;
}

.twottHeader {
  display: flex;
  justify-content: space-between;
}

.headerLabel {
  font-size: 14px;
  color:#7d9fbe;
}

.emptySpace{
  flex-grow: 4;
}

.profilPicture {
  height: 1.3em;
  border-radius: 25em;
  margin-right: 0.4em;
}

.twotContent {
  height: 3em;
}

.footer {
  text-align: right;
}

.hearthReaction {
  color: #7d9fbeaa
}

.hearthReaction:hover {
  color: #7d9fbe;
  cursor: pointer;
}

.licked {
  color: #ae0fa6;
}

.licked:hover {
  color: #ae0fa6aa;
}

.numberLikes {
  margin-right: 5px;
}