.Header {
  background-color: #ddeaf6;
  background-image: linear-gradient(#ddeaf6, #ebf3fa);
  padding: 1rem 1rem 1rem 5rem;
  font-size: 5em;
  text-align: left;
  color: #a5b4c2;
}

.title {
  margin-left: 2rem;
}

@media (max-width:500px) {
  .Header {
    padding: 1rem ;
    font-size: 3em;
    text-align: center;
  }
  .title {
    margin-left: 0rem;
  }
}

@media (max-width: 250px) {
  .logo {
    display: none;
  }
}

.logo {
  height: 1em;
}